version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "3003:3003"
    env_file: .env

  frontend:
    build: ./frontend
    ports:
      - "8282:80"
    depends_on:
      - backend
    env_file: .env
